body{
    background-color: bisque;
}
h1{
    color: red;
    background-color: blue;
    font-size: 30px;

}
img{
    border-radius: 50%;
    height: 300px;
    width: 50vw;
    box-shadow: 5px 5px 10px black;
}
#id{

}